.extra{
    /* background-color: rgb(226, 37, 75); */
    padding-top: 20px;
    padding-bottom: 50px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),url('https://img.freepik.com/free-photo/silver-metallic-color-sport-sedan-road_114579-5035.jpg?t=st=1657971371~exp=1657971971~hmac=4b36b23bb7b78d060eec76a504a16169c15fe757205f9d98fa32939483b570b0&w=740');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin-top: 180px;
    margin-bottom: 170px;
}
.extra h1{
    box-shadow: 2px 2px 4px;
}
/* .extra-pic img{
    border-radius: 10%;
   
    margin-bottom: 15px;
} */

@media only screen and (max-width:688px){
    
    .extra-pic img{
        border-radius: 10%;
        width: 160px;
        margin-bottom: 15px;
    }
}





@media only screen and (max-width:688px) {
    .extra{
        /* background-color: rgb(226, 37, 75); */
        padding-top: 20px;
        padding-bottom: 50px;
        background-image: url('https://media.istockphoto.com/photos/background-abstract-pink-and-black-dark-are-light-with-the-gradient-picture-id1257045720?k=20&m=1257045720&s=612x612&w=0&h=Tayv7AKbRzlmOAl7DvDjuEcxNWPJXG8SF9L1ZoErO7o=');
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: initial;
        margin-top: 180px;
        margin-bottom: 170px;
    }
}