.heading{
    background-image: url('https://cdn.mwallpapers.com/photos/celebrities/cars/red-lamborghini-aventador-new-android-iphone-hd-wallpaper-background-downloadhd-wallpapers-desktop-background-android-iphone-1080p-4k-qq2wt.jpg');
    background-repeat: no-repeat;
    background-size:  100%;

    background-attachment: fixed;
}
.heading{
    padding-top: 70px;
    padding-bottom: 290px;
}
.heading h1{
   
    color: rgb(237, 255, 196);
}

@media only screen and (max-width: 678px) {
    .heading{
        padding-top: 20px;
        padding-bottom: 10px;
    }
}


